img{
    width: 50PX;
    height: 50px;
}
.humidity{
display: flex;
justify-content: flex-start;

}
.icon{
    width: 100px;
    height:100px;
}
.humidity ,#iconHumidity,.country{
    
    width: 40PX;
    height: 40px;
    
}