img{
    width: 50PX;
    height: 50px;
}
.humidity{
background-image: url("humidity.png");
display: flex;
justify-content: flex-start;

}
.icon{
    width: 150px !important;
    height:70px !important;
}
.humidity ,#iconHumidity,.country{
    
    width: 40PX;
    height: 40px;
    
}
.card{
    background-color:   rgb(86 87 82 / 14%) ;
   
}

